
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
      자동차
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" id="carsTable" cellspacing="0">
        <thead>
          <tr>
            <th>번호</td>
            <th>자동차 번호</td>
            <th>모델명</td>
            <th>사이즈</td>
            <th>제조사</td>
            <th>소속회사</td>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>번호</td>
            <th>자동차 번호</td>
            <th>모델명</td>
            <th>사이즈</td>
            <th>제조사</td>
            <th>소속회사</td>
          </tr>
        </tfoot>
        <tbody>
          {{#cars}}
          <tr>
            <td>{{id}}</td>
            <td>{{license_number}}</td>
            <td>{{model}}</td>
            <td>{{size}}</td>
            <td>{{manufacturer_id}}</td>
            <td>{{company_id}}</td>
          </tr>
          {{/cars}}
        </tbody>
      </table>
    </div>
  </div>
</div>

