
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
      사용자
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" id="usersTable" cellspacing="0">
        <thead>
          <tr>
            <th>번호</td>
            <th>이름</td>
            <th>핸드폰 번호</td>
            <th>소속 회사</td>
            <th>권한</td>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>번호</td>
            <th>이름</td>
            <th>핸드폰 번호</td>
            <th>소속 회사</td>
            <th>권한</td>
          </tr>
        </tfoot>
        <tbody>
          {{#users}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{cellular_phone}}</td>
            <td>{{company_id}}</td>
            <td>{{role_id}}</td>
          </tr>
          {{/users}}
        </tbody>
      </table>
    </div>
  </div>
</div>

